<!DOCTYPE html>
<html lang="en">

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <title>Document</title>
</head> -->

<body class="bg-warning">

    <section class="container">

        
        <div class="row vh-100 d-flex justify-content-center align-items-center">
           
            <div class="rounded col-lg-4 col-sm-8 shadow p-0" style="background-color: #D9D9D9;">
                
                <div class="rounded-top border border-dark bg-white py-2 d-flex justify-content-center align-items-center">
                    <span style="color: #FFD700; font-weight: 700; font-size: large;">LOGIN</span>
                </div>

                <div class="rounded-bottom p-2 border border-dark">
                    <div class="col-12 d-flex justify-content-center my-0">
                        <img src="assets/img/User.png" alt="logo-premesy" class="w-50" />
                    </div>
                    <form class="col-12 px-5" method="POST">
                        <div class="mb-3">
                            <label for="username" class="form-label">USUARIO:</label>
                            <input type="text" class="form-control" id="username" name="username"
                                aria-describedby="emailHelp" />
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">CONTRASEÑA:</label>
                            <input type="password" class="form-control" name="password" id="password" />
                        </div>
                        <div class="d-grid gap-2 p-3" >
                            <button type="submit" class="btn" style="background-color: #FFD700;">
                                <span class="h6" >INGRESAR</span>
                            </button>                            
                        </div>
                    </form>
                </div>

                

            </div>

            <!-- espacio  para el footer -->

        </div>




    </section>

</body>

</html>